body {
    margin: 0;
}

canvas {
    position: absolute;
    margin: 0;
    z-index: 0;
}

.Status {
    position: absolute;
    margin: 0;
    z-index: 1;
}

.controls {
  display: table-row;
    position: absolute;
    margin: 0;
    bottom: 0;
    z-index: 1;
}

#functionsToCall {
  white-space: pre;
}

.inputs{
  display: grid;
  text-align: right;
  position: absolute;
  margin: 0;
  right: 0;
  z-index: 1;
}

.hidden {
  display: none;
}
