body {
  margin: 0px;
  user-select: none;
  white-space: normal;
}

input {
  position: fixed;
  z-index: 2;
}

#testElement {
  font-size: 16px;
  margin: 0px;
  position: absolute;
  top: 100px;
  left: 100px;
  width: max-content;
  height: max-content;
  background-color: aqua;
}

#info {
  position: absolute;
  top: 0px;
  left: 0px;
}

#info p{
  margin: 0px;
  padding: 0px;
}

#cursorP {
  margin: 0px;
  position: absolute;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

